{% macro hmrcHeader(params) %}

    {% from "hmrc/components/header/macro.njk" import hmrcHeader %}

    {% set phaseBanner = {tag: {text: params.phaseBanner.text}, html: params.phaseBanner.html} if params.phaseBanner.show %}

    {% set userResearchBanner = {url: params.userResearchBanner.url} if params.userResearchBanner.show %}

    {{ hmrcHeader({
        homepageUrl: "https://www.gov.uk",
        assetsPath: "/assets",
        serviceName: params.serviceName,
        serviceUrl: params.serviceUrl,
        phaseBanner: phaseBanner,
        userResearchBanner: userResearchBanner,
        signOutHref: params.signOutHref
    }) }}

{% endmacro %}