{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro hmrcInputCurrency(params) %}

  {{ govukInput({
    label: {
      text: params.label,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    hint: {
      text: params.hint,
      classes: "hint-as-label"
    },
    name: params.name,
    id: params.id,
    value: params.value,
    classes: "govuk-input--width-10",
    errorMessage: params.errorMessage,
    prefix: {
      text: "£"
    },
    inputmode: "numeric",
    autocomplete: "off",
    spellcheck: false,
    pattern: "[0-9]*"
  }) }}

{% endmacro %}
